h2{
   text-decoration: underline;
   border: 1px solid black;
   padding: 8px;
   margin-left: 35px;
   float: left;
   margin-right: 
}

#container{
    width: 960px;
    margin:0px auto;
    background: #7EC0EE;
}